/* Algemene styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'K2D', sans-serif;
    background-color: #2C143C;
  }
  .gradient-divider {
    height: 3px;
    background: linear-gradient(to left, #D20C65, #9814AF); /* Gradient effect */
    border: none;
    margin: 50px 20px;
  }


   /*-------------------------intro---------------------------------------*/

.intro {
    display: flex;
    align-items: center;
    padding: 16px 90px 0px 90px;
    font-family: 'K2D', sans-serif;
    position: relative;
}

  .intro .text {
    flex: 1;
    max-width: 100%;
    color: white; 
    font-size: 18px;
    font-weight: 400;
    padding: 16px 16px 40px 16px;
  }
  .intro .text h2{
    color: #FCFD9D;
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 20PX;
  }

  .btn-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.btn-item {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    cursor: pointer;
    color: var(--main-colour);
}


.btn-item img {
    width: 50px;
    height: auto;
}

.btn-item h1 {
    font-size: 18px;
    margin: 0;
    padding-top: 5px;
    color: aliceblue;

}

.previous img {
    transform: scaleX(-1)
}

 /*-------------------------inzichten---------------------------------------*/
 .inzichten {
    display: flex;
    align-items: center;
    padding: 16px 90px 0px 90px;
    gap: 20px;
    font-family: 'K2D', sans-serif;
    position: relative;
}


  .inzichten .text {
    flex: 1;
    justify-content: center;
    max-width: 100%;
    color: white; 
    font-size: 20px;
    font-weight: 400;

  }
  .inzichten .text h3{
    color: white;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20PX;
  }
  .inzichten .text p{
    margin: 0;
  }

/*-------------------------hierarchie---------------------------------------*/
.hierarchie {
    display: flex;
    align-items: center;
    padding: 16px 90px 0px 90px;
    gap: 20px;
    font-family: 'K2D', sans-serif;
    position: relative;
}


  .hierarchie .text {
    flex: 1;
    justify-content: center;
    max-width: 100%;
    color: white; 
    font-size: 20px;
    font-weight: 400;

  }
  .hierarchie .text h3{
    color: white;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20PX;
  }
  .hierarchie .text p{
    margin: 0;
  }
/*-------------------------keuze---------------------------------------*/
.keuze {
    display: flex;
    align-items: center;
    padding: 16px 90px 0px 90px;
    gap: 20px;
    font-family: 'K2D', sans-serif;
    position: relative;
}


  .keuze .text {
    flex: 1;
    justify-content: center;
    max-width: 100%;
    color: white; 
    font-size: 20px;
    font-weight: 400;

  }
  .keuze .text h3{
    color: white;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20PX;
  }
  .keuze .text p{
    margin: 0;
  }


  /*-------------------------presenteren---------------------------------------*/
.presenteren {
    display: flex;
    align-items: center;
    padding: 16px 90px 0px 90px;
    gap: 20px;
    font-family: 'K2D', sans-serif;
    position: relative;
}


.presenteren .text {
    flex: 1;
    justify-content: center;
    max-width: 100%;
    color: white; 
    font-size: 20px;
    font-weight: 400;

  }
.presenteren .text h3{
    color: white;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20PX;
  }
.presenteren .text p{
    margin: 0;
  }

  /*-------------------------presenteren---------------------------------------*/
.prototype {
    display: flex;
    align-items: center;
    padding: 16px 90px 0px 90px;
    gap: 20px;
    font-family: 'K2D', sans-serif;
    position: relative;
}


.prototype .text {
    flex: 1;
    justify-content: center;
    max-width: 100%;
    color: white; 
    font-size: 20px;
    font-weight: 400;

  }
.prototype .text h3{
    color: white;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20PX;
  }
.prototype .text p{
    margin: 0;
  }