.dropdown-title{
    border-radius: 25px;
    color: white;
    font-size: 24px;
    font-family: 'K2D', sans-serif;
    padding: 20px 20px 20px 25px;
    background-color: #2C143C;
}

.dropdown-title p{
    font-size: 16px;
    color: rgb(255, 255, 255, 0.55);
    padding: 5px 0 0 40px;
}


.title-wrapper{
    background: #D20C65;
    padding: 2px;
    border-radius: 25px;
    margin: 20px 90px 20px 90px;
}

.kop{
    font-size: 18px;
    color: #D20C65;
}

.dropdown-content a{
    color: #FCFD9D;
}

.dropdown-content{
    margin: 10px 200px;
}

.dropdown-content li{
    list-style: none;
}

.dropdown-content ul{
    display: block;

}

.bewijs-container{
    display: flex;
}

.bewijs-container ul{
    margin: 20px;
}

.reflectie{
    margin: 10px auto 50px auto; 

}

.reflectie h3{
    font-size: 24px;
    color: #D20C65;
}

.reflectie p{
    font-size: 16px;
    color: white;
}

#einde, #LO4{
    margin-bottom: 100px;
}